<header class="app-header">
    <div class="app-header__content">
        <a href="../index.html" class="app-header__brand">Pokédex Fake</a>

        <button id="headerToggle" class="app-header__toggle" type="button" aria-label="Abrir menú">
            <span class="app-header__toggle-line"></span>
            <span class="app-header__toggle-line"></span>
            <span class="app-header__toggle-line"></span>
        </button>

        <nav id="headerNav" class="app-header__nav">
            <a href="../pages/search-pokemon.html" class="app-header__link">Buscar Pokémon</a>
            <a href="../pages/pokemon-list.html" class="app-header__link">Todos los Pokémones</a>
        </nav>
    </div>
</header>